body {
   background-image: url(../img/bg-wool-light.png);
}

.main {
   width: 100%;
   position: relative;
   overflow: hidden;
}

.main-nav {
   width: 100%;
   background-color: transparent;
   transition: background-color 0.2s ease;
   position: fixed;
   top: 0;
   z-index: 2;
}

.main-nav-container {
   width: 100%;
   height: 75px;
   padding: 0 20px;
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

.nav-background {
   background-color: #ddd;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav-left {
   display: flex;
}

.nav-left a {
   margin: 16px;
   font-size: 16px;
   color: #666;
   transition: color 0.2s ease;
   display: flex;
   align-items: center;
}

.nav-left a:hover {
   color: rgba(51, 51, 51, 1);
}

.nav-left a svg {
   margin-right: 8px;
}

.nav-center {
   position: absolute;
   top: 16px;
   left: 50%;
   transform: translateX(-50%);
}

.personal-link {
   width: 100%;
   padding: 40px 40px 24px;
   background-color: rgb(34, 34, 34);
   box-shadow: 0px 5px 10px #1d1d1d;
   color: #fff;
   text-align: center;
   background-image: url(../img/bg-wool-dark.png);
   position: relative;
   z-index: 2;
}

.personal-link-title {
   font-size: 1.2rem;
}

.personal-link-group {
   margin-top: 18px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.personal-link a {
   margin-right: 24px;
   margin-bottom: 16px;
   display: flex;
   align-items: center;
}

.personal-link a:last-child {
   margin-right: 0;
}

.personal-link a svg {
   margin-right: 8px;
}

.footer {
   width: 100%;
   height: 200px;
   padding: 20px 36px;
   color: #fff;
   background-color: rgb(17, 17, 17);
}

.footer-body {
   max-width: 1920px;
   margin: 0 auto;
}

.download-btn {
   padding: 14px 20px;
   font-size: 16px;
}

.software-title {
   font-size: 1.5rem;
   text-shadow: 0 2px 0 #666;
}

.light-text {
   color: #3c8527;
   text-shadow: 0 2px 0 #2a641c;
}

.software-introduce {
   width: 100%;
   padding: 16px;
}

.software-introduce-item {
   width: 1300px;
   margin: 250px auto;
   display: flex;
   align-items: center;
}

.introduce-item-left .software-description {
   margin: 12px 0;
}

.introduce-item-left {
   height: 100%;
   margin-right: 50px;
}

.introduce-item-right {
   flex: 1;
   width: 100%;
   height: 100%;
}

.software-interaction-container {
   display: flex;
   position: relative;
}

.software-interaction-container .interaction-img {
   display: block;
}

.project-main-iframe {
   width: 493px;
   height: 345px;
   position: absolute;
   left: 177px;
   top: 44px;
}

.introduce-item-left .software-title {
   font-size: 2.5rem;
}

.introduce-item-left .software-description {
   color: #666;
   font-weight: 500;
}

.introduce-item-left .download-btn {
   margin: 12px 0 0 0.25rem;
   padding: 12px 20px;
}

.data-container {
   justify-content: space-evenly;
}

.data-card {
   width: 25%;
   height: 200px;
   padding: 24px;
   border-radius: 30px;
   cursor: pointer;
   flex-direction: column;
   background-color: #ececec;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   transition: all 0.2s;
}

.data-card:hover {
   width: 30%;
   font-size: 20px;
}

.data-value {
   font-size: 2rem;
}

.data-label {
   color: #666;
}

.images-container {
   width: 540px;
   margin-left: auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 16px;
}

.image-item {
   width: 260px;
   border-radius: 20px;
   overflow: hidden;
   position: relative;
}

.image-item img {
   width: 100%;
   height: 100%;
}

.image-item::after {
   content: attr(data-text);
   position: absolute;
   left: 0;
   bottom: -50px;
   width: 100%;
   height: 40px;
   font-size: 0.9rem;
   background-color: #1d1d1d;
   transition: bottom 0.2s;
   color: #fff;
   text-align: center;
   line-height: 40px;
}

.image-item:hover::after {
   bottom: 0;
}

.image-item-2 {
   transform: translateY(-30px);
}

.image-item-4 {
   transform: translateY(-30px);
}

.software-information-container {
   width: 400px;
   border-radius: 30px;
   margin-left: auto;
}

.info-main {
   font-size: 1.8rem;
   font-weight: bold;
   margin-bottom: 12px;
}

.info-secondary {
   font-size: 1.3rem;
   color: #666;
}
