* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   font-size: 18px;
   color: #333;
}

a {
   color: inherit;
   cursor: pointer;
   text-decoration: none;
}

.minecraft-btn1 {
   cursor: pointer;
   font-weight: bold;
   color: #fff;
   background: #3c8527;
   box-shadow: inset 0 -4px 0 #2a641c, inset 0 4px 0 #52a535;
   text-shadow: 0 2px 0 #2a641c;
   position: relative;
}

.minecraft-btn1::after,
.minecraft-btn1::before {
   content: '';
   position: absolute;
   background: #2a641c;
   height: calc(100% - 8px);
   top: 4px;
   width: 0.25rem;
   left: -0.25rem;
}

.minecraft-btn1::after {
   left: unset;
   right: -0.25rem;
}

.minecraft-btn1:hover {
   background-color: #3c8527e8;
}

.minecraft-btn2 {
   color: #fff;
   background-color: #488344;
   position: relative;
   border: none;
   cursor: pointer;
}

.minecraft-btn2:hover {
   background-color: #579952;
}

.minecraft-btn2::after,
.minecraft-btn2::before {
   width: 50%;
   height: 6px;
   background: #366233;
   position: absolute;
   bottom: -6px;
}

.minecraft-btn2::after {
   content: '';
   right: 2.5px;
   -webkit-transform: skewX(-35deg);
   transform: skewX(-35deg);
}

.minecraft-btn2::before {
   content: '';
   left: 2px;
   -webkit-transform: skewX(35deg);
   transform: skewX(35deg);
}

.black-border {
   border-top: 5px solid #333;
   border-bottom: 5px solid #333;
   position: relative;
   margin-right: 32px;
}

.black-border::before,
.black-border::after {
   content: '';
   position: absolute;
   left: -5px;
   top: 0;
   background-color: #333;
   width: 5px;
   height: 100%;
}

.black-border::before {
   left: unset;
   right: -5px;
}

.flex-column-start {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.flex-center {
   display: flex;
   align-items: center;
   justify-content: center;
}
